<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIT Hotel</title>

</head>
<body>
    <div class="section">
        <div class="container-room">
            <div class="room-heading-wrap">
               <div class="roompage-heading-wrap">
                    <h2 class="extra-large-heading">Room<br /> &Suites</h2>
                    <img src="~/images/rotatelogo.png" alt="Logo" class="rotating-logo">
               </div>
            </div>
            <div class="w-dyn-list">
                <div class="image-item">
                    <img src="~/images/room1.jpg" alt="Room 1">
                    <div class="text-overlay">
                        <div class="text-left">Restfulness room</div>
                        <div class="text-right">$210</div>
                    </div>
                </div>
                <div class="image-item">
                    <img src="~/images/room2.jpg" alt="Room 2">
                    <div class="text-overlay">
                        <div class="text-left">Premium room</div>
                        <div class="text-right">$184</div>
                    </div>
                </div>
                <div class="image-item">
                    <img src="~/images/room3.jpg" alt="Room 3">
                    <div class="text-overlay">
                        <div class="text-left">Meditation room</div>
                        <div class="text-right">$115</div>
                    </div>
                </div>
                <div class="image-item">
                    <img src="~/images/room4.jpg" alt="Room 4">
                    <div class="text-overlay">
                        <div class="text-left">Relaxation room</div>
                        <div class="text-right">$130</div>
                    </div>
                </div>
                <div class="image-item">
                    <img src="~/images/room5.jpg" alt="Room 5">
                    <div class="text-overlay">
                        <div class="text-left">Tranquil room</div>
                        <div class="text-right">$190</div>
                    </div>
                </div>
                <div class="image-item">
                    <img src="~/images/room6.jpg" alt="Room 6">
                    <div class="text-overlay">
                        <div class="text-left">Comfort room</div>
                        <div class="text-right">$197</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    @section Scripts {
        <script>
            
        </script>
    }
</body>
</html>