@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('https://onetouchmedia.vn/wp-content/uploads/2019/10/N.NT-65-1024x683.jpg'); height: 200px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center" style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>About Us</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="mcp-placeholder" data-name="content">
            <div class="component-overflow fancyHeading h2 " id="$id" data-component="true" data-name="AboutUs_Heading" data-id="1523433827804">
                <h2 class="mt-0 mb-24 ">
                    Hotel<br>
                    Living, Uniquely
                </h2>

                <div class="extra-fancyHeading">

                </div>
            </div>
            <div class="component-overflow showcaseItem showcaseleft" data-component="true" data-name="AboutUs_USP1" data-id="1655412244052">
                <div class="showcaseWrapper" style="background:#fff">
                    <div class="showcase">
                        <div class="left" style="width:45%;margin-left:64px; float: left">
                            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2022/10/31/1667232016060-4b5babb4a860fb692d969ae3480cc6a1.png?tr=q-75" style="width:100%">
                        </div>
                        <div class="right" style="margin-right:64px;margin-left:64px; float: right">
                            <div class="mcp-placeholder-inner" data-name="contentPlaceholder">
                                <div class="component-overflow simple-text" data-component="true" data-name="AboutUs_USP1_content" data-id="1655412244055">

                                    Hotel is Southeast Asia’s leading super app for travel and lifestyle services. We help you discover and purchase a wide variety of travel products, local services, and financial services. Our comprehensive product portfolio includes transportation booking services such as flights, buses, trains, car rentals, and airport transfers, as well as Southeast Asia’s largest accommodation inventory. Furthermore, to help you fulfill your lifestyle aspirations, we complement our services with an array of attractions, local activities, and wellness & beauty spas. Whatever your lifestyle choice, you only need one click!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-overflow showcaseItem showcaseright" data-component="true" data-name="AboutUs_USP2" data-id="1655412276081">
                <div class="showcaseWrapper" style="background:#fff">
                    <div class="showcase">
                        <div class="left" style="margin-right:64px;margin-left:64px;">
                            <div class="mcp-placeholder-inner" data-name="contentPlaceholder">
                                <div class="component-overflow simple-text" data-component="true" data-name="AboutUs_USP2_content" data-id="1655412276085">

                                    Hotel believes happiness can come in many forms for different people at different times. With our reputation and over 10 years of experience, we promise you a wide range of rich options to brighten your own happiness. Whether you're seeking an exciting experience or relaxation in a 5-star resort, a soothing spa day or an adrenaline-filled adventure, a convenient first-class flight or a fun road trip, both domestic and international trips are available in one app.
                                    <br><br>
                                    With 24/7 customer support in local languages and over 30 local payment methods, Hotel has been downloaded more than 100 million times, making it the most popular travel and lifestyle app in Southeast Asia.
                                    <br><br>
                                    What are you waiting for? Plan a carefully curated trip or a last-minute getaway with us. For all your unique travel and lifestyle choices, as always, Hotel will be by your side.

                                    <div style="display:none">
                                        <br><br><br>
                                        <strong>Hotel Vietnam Co., Ltd</strong><br>
                                        <em>Business Registration Certificate</em>: 0313581779 issued on 18/12/2015<br>
                                        <em>Issuing Authority</em>: Business Registration Office - Department of Planning and Investment of HCMC<br>
                                        <em>Address</em>: 2nd, 3rd, and 7th Floor, An Phu Plaza Building, 117-119 Ly Chinh Thang, Ward 7, District 3, Ho Chi Minh City, Vietnam
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right" style="width:45%;margin-left:64px">
                            <img src="https://ik.imagekit.io/tvlk/image/imageResource/2022/10/31/1667232268871-776cfde10b5577c7b2d483fb04ced52f.png?tr=q-75" style="width:200%;height: 400px;margin: 0px auto !important">
                        </div>
                    </div>
                </div>
            </div>
            <div class="component-overflow content-wrapper" style="padding:48px 0 0" data-component="true" data-name="AboutUs_CTA" data-id="1667232723289">
                <div style="max-width:1080px;margin:0 auto">
                </div>
            </div>
        </div>
    </div>
</section>
