@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('https://onetouchmedia.vn/wp-content/uploads/2019/10/N.NT-65-1024x683.jpg'); height: 200px">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center" style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Introduction</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Introduction</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <img src="" />
        <div class="css-1dbjc4n r-qklmqi r-1l31rp8 r-1phboty r-2nmnel r-ywje51 r-169s5xo r-k8qxaj r-b5h31w r-1ah4tor r-uwe93p">
            <h2 aria-level="1" dir="auto" role="heading" class="css-4rbku5 css-901oao r-cwxd7f r-1sixt3s r-1x35g6 r-b88u0q r-vrz42v r-117bsoe r-q4m81j">Hotel Booking in Vietnam on Hotel</h2>
            <img src="~/Content/images/about.png" style="margin : 0px auto !important;" />
            <div class="css-1dbjc4n r-1udh08x" style="max-height: 1277px;">
                <div class="css-1dbjc4n">
                    <div style="font-family: MuseoSans, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; line-height: 1.5; font-weight: 300; font-size: 16px;">
                        <h4><strong>Hotel – The top choice for online hotel booking</strong></h4>
                        <p style="margin: 0px;"><br></p>
                        <p style="margin: 0px;">As a leading hotel booking agency in Southeast Asia, since its launch, Hotel has made travel easier than ever for over 20 million travel enthusiasts. Not only operating in Southeast Asia, Hotel is currently a partner of over 200,000 hotels worldwide, always ready to accompany you anytime, anywhere.</p>
                        <p style="margin: 0px;">With a wide network of hotels, Hotel offers numerous choices in all segments, from luxury hotels and top resorts to modern and unique hostels and homestays. Whether you need to book a room urgently for a business trip or search for a dreamy paradise for a romantic honeymoon, Hotel will satisfy you with the best hotels at the most competitive prices.</p>
                        <p style="margin: 0px;">All you need to do is three steps: search, book a hotel, and pay. Everything else is handled by Hotel.</p>
                        <p style="margin: 0px;"><br></p>
                        <p style="margin: 0px;"><br></p>
                        <h4><strong>Integrated advanced features, booking a hotel on Hotel has never been easier</strong></h4>
                        <p style="margin: 0px;"><br></p>
                        <p style="margin: 0px;">Start by entering the destination in the "Search hotels" section, and hundreds of results will be displayed in a flash based on your preferences. The Hotel app will categorize the results into two segments – Budget and Premium, helping you quickly narrow down your options. Especially when selecting check-in dates, Hotel will notify you of the dates with the lowest prices. No need to compare back and forth; booking affordable hotels is now just a few steps away.</p>
                        <p style="margin: 0px;">All the most detailed information about hotels is constantly updated. Amenities, nearby areas, and reviews from previous guests will give you a comprehensive overview of the hotel you’re considering. The displayed price is also the final price you’ll pay, including taxes, with no hidden fees or extra charges. You only need one interface to compare many options and easily <strong>book affordable hotels</strong> with the best amenities.</p>
                        <p style="margin: 0px;">Frequent travelers, or those whose plans change unexpectedly, need not worry. The “Last-Minute Hotels” feature will be your savior. Hotel will filter out hotels with available rooms for the day at the best prices, sometimes with discounts of up to 50%, hard to find anywhere else.</p>
                        <p style="margin: 0px;">Once your booking is complete, all the details will be sent to your email and saved in the "My Bookings" section, helping you manage your transactions by date. Additionally, the hotel booking code details will include a translated address in the local language, a map, and a contact number, for cases where you’re traveling to countries where English is not spoken.</p>
                        <p style="margin: 0px;"><br></p>
                        <p style="margin: 0px;"><br></p>
                        <h4><strong>Friendly user experience at Hotel</strong></h4>
                        <p style="margin: 0px;"><br></p>
                        <p style="margin: 0px;">With such great features, Hotel not only aims to accompany you on every journey but also strives to provide you with a friendly user experience, along with the most comfortable moments of relaxation.</p>
                        <p style="margin: 0px;">The website and app interfaces both emphasize minimalism, saving time on navigation while being easy to use, even for those not tech-savvy. You can manage all your booking information with just one app, without any hassle of paperwork.</p>
                        <p style="margin: 0px;">Payments at Hotel are also simple with five diverse options: international payment cards, domestic ATM cards, bank transfer, payment at the post office, and stores linked with Payoo. For online payments, the HotelPay feature allows you to save your payment details for future transactions. To avoid online transaction risks, customers' card information is encrypted and managed by one of the world's leading online transaction service providers, CyberSource, a part of Visa.</p>
                        <p style="margin: 0px;">With Hotel, you not only <strong>book hotels</strong> at the best prices but also have the opportunity to grab the most attractive deals. Ongoing promotions are continuously updated in the “Current Deals” and “Hotel Deals” sections. Booking an <strong>affordable hotel</strong> is no longer a difficult or time-consuming task. Also, to make your travel experience more enjoyable, you can book cheap tours and activities with exciting promotions through <strong>HotelXperience</strong> at <a href="https://www.Hotel.com/en-vn/activities" rel="noopener noreferrer" target="_blank">https://www.Hotel.com/en-vn/activities</a>.</p>
                        <p style="margin: 0px;">Hotel's customer support service is also available 24/7 to monitor transactions and address customer inquiries. Contact Hotel directly via three channels: hotline 1900-6978, live chat on <a href="https://www.Hotel.com/en-vn" rel="noopener noreferrer" target="_blank">https://www.Hotel.com/en-vn</a>, or email <a href="mailto:cs@Hotel.com" rel="noopener noreferrer" target="_blank">cs@Hotel.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
