<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>
    <div class="section">
        <div class="container-room">
            <div class="room-heading-wrap">
                <div class="roompage-heading-wrap">
                    <h2 class="extra-large-heading">OUR STORY<br /> & VALUES</h2>
                    <img src="~/images/rotatelogo.png" alt="Logo" class="rotating-logo">
                </div>
            </div>

            <div class="about-page info">
                <div class="medium-column">
                    <p>Built in the early 1900s, the Hotel Majestique started as a quiet escape for elite travelers, located in an idyllic part of town. Its architecture was designed with a mix of vintage charm and Art Deco elegance, blending Italian marble with hand-carved wooden interiors. Crystal chandeliers lined the hallways, and each room offered sweeping views of the city skyline.</p>
                </div>
                <div class="medium-column">
                    <p>Through decades, the Majestique has seen both peace and chaos. During World War II, it was taken over by the military and used as a command center. After the war, the hotel reopened, restoring its reputation as a serene sanctuary. Over the years, artists, celebrities, dignitaries, and even royalty have stayed in its finest suites. Each visitor leaves behind a whisper of their story, adding to the aura of mystery and intrigue.</p>
                </div>
            </div>
            
            <section class="about-section">
                <div class="about-container"> </div> 
            </section>
            <div class="container">
                <h2 class="large-heading">We are respected by thousands of clients & partners, but that is not what define us. Our goal is to offer moments of peaceful joy, happiness and spiritual to you & to your family, come visit us and see it by yourself!</h2>
            </div>
            <div class="grid half about-view">
                <img src="~/images/view.jpg" alt="Logo" class="view">
                <div class="text">
                    <h2>Serene</h2>
                    <p>Outside view of one of our hotels in San Juan, Philippines.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    @section Scripts {
        <script>

        </script>
    }
</body>
</html>