@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@*<div class="hero-wrap js-fullheight" style="background-image: url('https://onetouchmedia.vn/wp-content/uploads/2019/10/N.NT-65-1024x683.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-9 " style="margin-top: 200px" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>Register and Login</strong> </h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
                </div>
            </div>
        </div>
    </div>*@
@if (ViewBag.mess == "Success")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Authentication successful!',
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "ResetOk")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Success!',
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "ErrorExist")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Username already exists!',
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'error'
            })
        </script>
    </div>
}
@if (ViewBag.mess == "ErrorPassword")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Passwords do not match!',
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'error'
            })
        </script>
    </div>
}

@if (ViewBag.mess == "Error")
{
    <div class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Incorrect account information or password',
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'error'
            })
        </script>
    </div>
}
<section class="site-section" style=" background: linear-gradient(135deg, #74b9ff, #a29bfe) ">
    <div class="container d-flex">
        <!-- Login Section -->
        <div class="login-container" style="margin-right: 60px; flex: 0 40%; max-width: 100vw; margin-left: 0; margin-top: 80px">
            <h2 class="mb-4 text-center text-gradient" style="background: linear-gradient(90deg, #6a11cb, #2575fc);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: bold;">Login</h2>
            <form action="/PublicAuthentication/Login" method="post" class="p-4 shadow rounded bg-light">
                <div class="form-group">
                    <label for="loginUserName">Username</label>
                    <input type="text" id="loginUserName" name="userName" class="form-control" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" name="password" class="form-control" placeholder="Enter your password" required>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="/PublicAuthentication/ForgotPassword" class="btn btn-secondary btn-animated">Forgot Password</a>
                </div>
            </form>
        </div>
        <!-- Register Section -->
        <div class="register-container" style=" flex: 0 60%; max-width: 100vw; margin-right: 0; margin-top: 80px">
            <h2 class="mb-4 text-center text-gradient"style="background: linear-gradient(90deg, #6a11cb, #2575fc);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: bold;">Register</h2>
            <form action="/PublicAuthentication/Register" method="post" class="p-4 shadow rounded bg-light" style="margin-bottom: 30px">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Enter your full name" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="userName">Username</label>
                        <input type="text" id="userName" pattern="[a-zA-Z0-9]+" maxlength="20" name="userName" class="form-control" placeholder="Enter your username" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" minlength="8" name="password" class="form-control" placeholder="Enter your password" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="rePassword">Confirm Password</label>
                        <input type="password" id="rePassword" minlength="8" name="rePassword" class="form-control" placeholder="Confirm your password" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" class="form-control" placeholder="Enter your address" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender" class="form-control">
                            <option value="" selected disabled>Choose gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" id="phoneNumber" pattern="(\+84|0)\d{9,10}" name="phoneNumber" class="form-control" placeholder="Enter your phone number" required>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>

